body {
  position: absolute;
  background: rgb(0, 0, 0, 0.8);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 5;
  overflow: hidden;
}

#game {
  width: 610px;
  height: 320px;
  border: 1px solid #888888;
  position: absolute;
  background-color: #888888;
}

#game-map {
  position: absolute;
  width: 600px;
  height: 200px;
  border: 1px solid #888888;
  top: 5px;
  left: 4px;
  right: 4px;
  background-color: #000000; 
}

#game-log {
  position: absolute;
  bottom: 5px;
  width: 600px;
  height: 103px;
  left: 4px;
  right: 4px;
  font-size: 12px;
  border: 1px solid #888888;
  overflow-y: auto;
  background-color: #000000;
  color: green; 
}

#game-level {
  position: absolute;
  top: 15px;
  right: 15px;
  opacity: 0.2;
  color: green; 
}

#player-um {
  border: 1px solid green;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 20px;
  background-color: green;
}

.obstacule-top {
  position: absolute;
  border: 1px solid;
  top: 0px;
  background-color: green;
  border: 1px green;
}

.obstacule-bottom {
  position: absolute;
  background-color: green;
  border: 1px solid;
  bottom: 0px;
  border: 1px green;
}